<div class="container mx-auto max-w-4xl p-6">
  <h2 class="text-2xl font-bold mb-4 text-[var(--color-pastel-purple)]">
    イベントグループの作成
  </h2>

  <%= render 'form', event_group: @event_group, submit_text: 'イベント作成' %>
</div>
