<div class="container mx-auto max-w-4xl p-6 space-y-6">
  <h2 class="text-3xl font-bold text-[var(--color-pastel-purple)]">イベント作成</h2>

  <%= render partial: 'form', locals: { eventable: @eventable, event: @event } %>
  <%= link_to 'キャンセル', polymorphic_path([@eventable, :events]), class: "bg-gray-100 hover:bg-gray-200 text-gray-700 font-bold py-2 px-4 rounded" %>
</div>